.btn {
  position: relative;
  transform-style: preserve-3d;
  display: inline-block;
  height: $btn-height-base;
  padding: $btn-padding-y-base $btn-padding-x-base;
  margin-bottom: $btn-margin-bottom;
  font-family: $btn-font-family;
  font-size: $btn-font-size-base;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height-base;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
  white-space: nowrap;
  vertical-align: middle;
  appearance: none;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  overflow: hidden;
  background-size: 150%;
  background-position-x: 25%;
  outline: 0;
  border: $btn-border-width solid transparent;
  @include border-radius($btn-border-radius-base);
  @include transition($btn-transition);

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: $disabled-opacity;
    background-image: if($enable-gradients, none, null);
    @include box-shadow(none);
  }

  &--sm {
    @include button-size($btn-height-sm,
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm,
      $btn-line-height-sm,
      $btn-border-radius-sm,
    );

    &.btn--icon-only {
      width: $btn-icon-only-width-sm;
      padding: $spacer-0;
    }

    &>.btn__icon {
      width: $spacer-5;
      height: $spacer-5;
    }
  }

  &--lg {
    @include button-size($btn-height-lg,
      $btn-padding-y-lg,
      $btn-padding-x-lg,
      $btn-font-size-lg,
      $btn-line-height-lg,
      $btn-border-radius-lg,
    );

    &.btn--icon-only {
      width: $btn-icon-only-width-lg;
      padding: $spacer-0;
    }

    &>.btn__icon {
      width: $spacer-6;
      height: $spacer-6;
    }
  }

  @each $color,
  $value in $theme-colors {
    &--fill-#{$color} {
      @include button-fill-variant($value);
    }

    &--tonal-#{$color} {
      @include button-tonal-variant($value);
    }

    &--outline-#{$color} {
      @include button-outline-variant($value);
    }

    &--text-#{$color} {
      @include button-text-variant($value);
    }
  }

  @each $color,
  $value in $social-media-colors {
    &--fill-#{$color} {
      @include button-fill-variant($value);
    }

    &--tonal-#{$color} {
      @include button-tonal-variant($value);
    }

    &--outline-#{$color} {
      @include button-outline-variant($value);
    }

    &--text-#{$color} {
      @include button-text-variant($value);
    }
  }

  &--link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $btn-link-hover-color;
    }
  }

  &--extended {
    display: inline-flex;
    column-gap: $spacer-2;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  &--icon-only {
    width: $btn-icon-only-width-base;
    padding: $spacer-0;

    &>.btn__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.btn-group,
.btn-group--vertical {
  position: relative;
  display: inline-flex;
  gap: $spacer-3;
  vertical-align: middle;

  >.btn {
    position: relative;
    flex: 1 1 auto;
  }

  >.btn:hover,
  >.btn:focus,
  >.btn:active,
  >.btn.active {
    z-index: 1;
  }
}