:root {
  --swiper-navigation-color: $light !important;
  --swiper-theme-color: $light !important;
  --swiper-navigation-size: $spacer-5 !important;
}

.swiper {
  &-wrapper {
    transition-timing-function: linear !important;
  }

  &-button-prev,
  &-button-next {
    z-index: 10;
    position: absolute;
    top: 50%;
    display: inline-block;
    padding: $spacer-6;
    cursor: pointer;
    background-color: $gray-300;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: rotate(135deg);
      display: block;
      width: 0;
      height: calc($spacer-1 * 2.5);
      margin-top: -$spacer-2;
      border-right: calc($spacer-1 * 0.5) solid $gray-600;
    }

    &::after {
      margin-top: calc($spacer-1 * -0.5);
      transform: rotate(45deg);
    }
  }

  &-button-prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }

  &-button-next {
    right: 0;
    left: auto;
  }

  &-pagination {
    z-index: 1;
    position: absolute;
    bottom: $spacer-0;
    display: flex;
    gap: $spacer-2;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $spacer-4 $spacer-0;

    &-bullet {
      display: inline-block;
      width: $spacer-6;
      height: $spacer-1;
      background-color: $white;

      &-active {
        background-color: $primary;
      }
    }
  }

  &--reviews {
    min-height: 300px;

    .swiper-button-prev,
    .swiper-button-next {
      top: auto;
      right: 0;
      bottom: 0;
      padding: $spacer-4;
    }

    .swiper-button-prev {
      right: 3rem;
      left: auto;
    }

    .swiper-pagination {
      z-index: 1;
      position: absolute;
      bottom: $spacer-0;
      justify-content: flex-start;
      padding: $spacer-3 $spacer-0;

      .swiper-pagination-bullet {
        width: $spacer-2;
        height: $spacer-2;
        background-color: $gray-300;
        border-radius: 50%;

        &-active {
          background-color: $primary;
        }
      }
    }
  }
}

.progress {
  height: 20px;
  overflow: hidden;
  background-color: $dark;

  &-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #0e0d0d;
    text-align: center;
    background-color: $primary;
    transition: width .6s ease;
  }
}