html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $spacer-0;
  margin-bottom: $spacer-0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  letter-spacing: $headings-letter-spacing;
  color: $headings-color;
}

h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;

  @include media-breakpoint-down(sm) {
    font-size: rfs-fluid-value($h1-font-size);
  }
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;

  @include media-breakpoint-down(sm) {
    font-size: rfs-fluid-value($h2-font-size);
  }
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;

  @include media-breakpoint-down(sm) {
    font-size: rfs-fluid-value($h3-font-size);
  }
}

h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;

  @include media-breakpoint-down(sm) {
    font-size: rfs-fluid-value($h4-font-size);
  }
}

h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;

  @include media-breakpoint-down(sm) {
    font-size: rfs-fluid-value($h5-font-size);
  }
}

h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;

  @include media-breakpoint-down(sm) {
    font-size: rfs-fluid-value($h6-font-size);
  }
}

@each $heading,
$font-size in $display-fonts {
  .display-#{$heading} {
    font-size: $font-size;
  }
}

p {
  margin-top: $spacer-0;
  margin-bottom: $spacer-0;
  font-family: $p-font-family;
  @include font-size($p-font-size);
  font-weight: $p-font-weight;
  line-height: $p-line-height;
  color: $font-color;
}

blockquote {
  z-index: 1;
  position: relative;
  padding: $spacer-4 $spacer-6;
  margin: $spacer-0;
  margin-bottom: $spacer-4;
  font-family: $font-family-serif;
  @include font-size($font-size-lg);
  color: $font-color;
  background-color: rgba($primary, 0.24);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1875rem;
    height: 100%;
    background-color: $dark;
  }

  > :last-child {
    margin-top: $spacer-2;
    margin-bottom: 0;
    @include font-size($font-size-sm);
    font-style: italic;

    &::before {
      content: '\2014\00A0';
    }
  }
}

a {
  line-height: $link-line-height;
  text-decoration: none;
  letter-spacing: $link-letter-spacing;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:not([href]):not([class]) {

    &,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

abbr[title] {
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
  cursor: help;
}

address {
  margin-bottom: $spacer-4;
  font-style: normal;
  line-height: inherit;
}

b,
strong {
  font-weight: $font-weight-bolder;
}

small {
  @include font-size($font-size-sm);
}

mark {
  padding: $spacer-0 $spacer-2;
  background-color: $mark-bg;
}

.text-concate {
  display: -webkit-box;
  text-transform: capitalize;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: wrap;
  opacity: 1;
  overflow: hidden;
}