.footer {
  background-color: transparent;

  &__top {
    padding: $spacer-10 $spacer-0;
    background-color: $background;

    .nav__link {
      font-weight: $font-weight-bold;
      padding: $spacer-2 $spacer-0;

      &:first-child {
        padding-top: 0rem;
      }

      &:last-child {
        padding-bottom: 0rem;
      }
    }
  }

  &__bottom {
    padding: $spacer-9 $spacer-0;
    background-color: $surface;
  }

  &__payments {
    display: flex;
    flex-wrap: wrap;
    gap: $spacer-4;
    align-items: center;
    padding: $spacer-2 $spacer-0;
    margin-bottom: $spacer-0;
    list-style: none;

    & li {
      width: 50px;
      padding: $spacer-1;
      text-align: center;
      background-color: $surface;
    }
  }

  &__copyright-text,
  &__developer-text {
    text-align: center;
    font-weight: 600;
    font-size: $font-size-lg;
  }
}

@include media-breakpoint-up(md) {
  .footer {
    &__bottom {
      padding: $spacer-7 $spacer-0;
    }

    &__copyright-text {
      text-align: start;
    }

    &__developer-text {
      text-align: end;
    }

    // &__link-list {
    //   gap: $spacer-0;
    //   row-gap: $spacer-4;
    //   padding: $spacer-0 $spacer-8;

    //   .nav__list {
    //     display: flex;
    //     align-items: center;

    //     &+.nav__list {
    //       margin-left: $spacer-4;

    //       &::before {
    //         content: "";
    //         transform: skewX(-20deg) rotate(180deg);
    //         display: inline-block;
    //         width: calc($spacer-1 * 0.5);
    //         height: $spacer-4;
    //         margin-right: $spacer-4;
    //         vertical-align: middle;
    //         background: $gray-400;
    //       }
    //     }
    //   }
    // }
  }
}