.footer {
  background-color: transparent;

  &__top {
    padding: $spacer-8 $spacer-0;
  }

  &__nav {
    .nav__link {
      padding: $spacer-2 $spacer-0;
      @include font-size($font-size-sm);
      font-weight: $font-weight-bold;
      color: $font-color;

      &:first-child {
        padding-top: $spacer-0;
      }

      &:last-child {
        padding-bottom: $spacer-0;
      }
    }

    &-social {
      gap: $spacer-2;
      padding: $spacer-2 $spacer-0;

      .nav__link--icon-only {
        width: 2.25rem;
        height: 2.25rem;
        background-color: $light;
      }
    }

    &-payments {
      gap: $spacer-2;
      align-items: center;
      padding-top: $spacer-2;
      padding-bottom: $spacer-2;

      & li {
        position: relative;
        width: 3.5rem;
        height: 2.25rem;
        color: #6c757d;
        background-color: $light;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%)
        }
      }
    }
  }

  &__bottom {
    padding-top: $spacer-6;
    padding-bottom: $spacer-6;
  }

  &__copyright-text {
    @include font-size($font-size-sm);
    font-weight: $font-weight-bold;
    text-align: center;
  }
}

@include media-breakpoint-up(md) {
  .footer {
    &__top {
      padding: $spacer-10 $spacer-0;
    }
  }
}