.footer {
  background-color: $background;

  &__top {
    padding: $spacer-8 $spacer-0;
  }

  &__nav {
    .nav__link {
      padding: $spacer-2 $spacer-0;
      @include font-size($font-size-sm);
      font-weight: $font-weight-bold;
      color: $light;

      &:first-child {
        padding-top: $spacer-0;
      }

      &:last-child {
        padding-bottom: $spacer-0;
      }
    }

    &-social {
      gap: $spacer-3;
      padding: $spacer-2 $spacer-0;

      .nav__link--icon-only {
        width: 2.25rem;
        height: 2.25rem;
        background-color: #f1f1f1;
      }
    }

    &-payments {
      display: flex;
      flex-wrap: wrap;
      gap: $spacer-4;
      align-items: center;
      padding: $spacer-2 $spacer-0;
      margin-bottom: $spacer-0;
      list-style: none;

      & li {
        position: relative;
        width: 4rem;
        height: 2.25rem;
        padding: 0rem;
        color: #6c757d;
        background-color: $light;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%)
        }
      }
    }
  }

  &__bottom {
    padding-top: $spacer-6;
    padding-bottom: $spacer-6;
  }

  &__copyright-text {
    @include font-size($font-size-sm);
    font-weight: $font-weight-base;
    text-align: center;
  }
}

@include media-breakpoint-up(md) {
  .footer {
    &__top {
      padding: $spacer-10 $spacer-0;
    }

    &__bottom {
      padding-top: $spacer-8;
      padding-bottom: $spacer-8;
    }
  }
}

// &__link-list {
//   gap: $spacer-0;
//   row-gap: $spacer-4;
//   padding: $spacer-0 $spacer-8;

//   .nav__list {
//     display: flex;
//     align-items: center;

//     &+.nav__list {
//       margin-left: $spacer-4;

//       &::before {
//         content: "";
//         transform: skewX(-20deg) rotate(180deg);
//         display: inline-block;
//         width: calc($spacer-1 * 0.5);
//         height: $spacer-4;
//         margin-right: $spacer-4;
//         vertical-align: middle;
//         background: $gray-400;
//       }
//     }
//   }
// }