.navbar {
  z-index: $z-index-navbar;
  position: fixed;
  top: $spacer-0;
  width: 100%;
  padding: $spacer-2 $spacer-0;
  background-color: $background;

  &--sticky {
    transition: 0.3s all;
    box-shadow: 0 1px 3px rgba($black, 0.1);
  }

  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: $spacer-8;
      height: $spacer-8;
    }
  }

  &__toggler {
    .menu-icon {
      margin-right: auto;
    }

    .bar-1 {
      animation: ease 0.33s top-2 forwards;
    }

    .bar-2 {
      width: 75%;
      animation: ease 0.33s scaled-2 forwards;
    }

    .bar-3 {
      animation: ease 0.33s bottom-2 forwards;
    }


    &.active {
      .bar-1 {
        animation: ease 0.33s top forwards;
      }

      .bar-2 {
        animation: ease 0.33s scaled forwards;
      }

      .bar-3 {
        animation: ease 0.33s bottom forwards;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    .nav__link {
      padding: $spacer-4 $spacer-6;
      padding-top: $spacer-5;
      font-family: $headings-font-family;
      font-size: $font-size-lg;
      line-height: 1;
      text-transform: uppercase;
      color: $font-color;
    }
  }

  @include media-breakpoint-down(lg) {
    &__menu:not(.navbar__menu--right) {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: $spacer-2 $spacer-0;

    &__brand {
      margin-right: $spacer-6;
    }
  }
}