.navbar {
  z-index: $z-index-navbar;
  position: fixed;
  top: $spacer-0;
  right: $spacer-0;
  left: $spacer-0;
  width: 100%;
  padding-top: calc(($spacer-3 * 0.5));
  padding-bottom: calc(($spacer-3 * 0.5));
  background-color: $background;
  transition: 0.3s all;

  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: $spacer-8;
      height: $spacer-8;
    }
  }

  &__toggler {
    .menu-icon {
      margin-right: auto;
    }

    .bar-1 {
      animation: ease 0.33s top-2 forwards;
    }

    .bar-2 {
      width: 75%;
      animation: ease 0.33s scaled-2 forwards;
    }

    .bar-3 {
      animation: ease 0.33s bottom-2 forwards;
    }


    &.active {
      .bar-1 {
        animation: ease 0.33s top forwards;
      }

      .bar-2 {
        animation: ease 0.33s scaled forwards;
      }

      .bar-3 {
        animation: ease 0.33s bottom forwards;
      }
    }
  }

  &__menu {
    .nav__link {
      padding-top: $spacer-6;
      padding-bottom: calc($spacer-5 - ($spacer-1 * 0.5));
      font-family: $headings-font-family;
      font-size: $font-size-lg;
      line-height: 1;
      text-transform: uppercase;
      color: $font-color;
    }
  }

  &--sticky {
    box-shadow: 0 2px 4px rgba($black, 0.15);
  }

  @include media-breakpoint-down(lg) {
    &__menu {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer-0;
    padding-bottom: $spacer-0;

    &__brand {
      margin-right: $spacer-6;
    }
  }
}