.section {
  position: relative;
  padding: $spacer-8 $spacer-0;
  overflow: hidden;

  &__heading {
    position: relative;
    margin-bottom: $spacer-9;
  }

  &__title {
    padding-top: $spacer-2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }

  &__title-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding-top: $spacer-6;
    @include font-size(9rem);
    opacity: 0.25;
  }
}

@include media-breakpoint-up(md) {
  .section {
    padding: $spacer-10 $spacer-0;

    &__title-bg {
      transform: translate(-50%, -52%);
    }
  }

  .collection-preview {
    &__col {
      &--thumbnail {
        margin-right: - percentage(divide(8, 12));
      }

      &:first-child {
        margin-left: percentage(divide(8, 12));
      }

      &:nth-child(2) {
        margin-left: percentage(divide(8, 12));
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .section {
    &__title-bg {
      transform: translate(-50%, -50%);
    }
  }
}

@include media-breakpoint-up(xl) {
  .collection-preview {
    &__col {
      &--thumbnail {
        margin-right: - percentage(divide(6, 12));
      }

      &:first-child {
        margin-left: percentage(divide(6, 12));
      }

      &:nth-child(2) {
        margin-left: percentage(divide(0, 12));
      }

      &:nth-child(3) {
        margin-left: percentage(divide(6, 12));
      }
    }
  }
}