.section {
  position: relative;
  padding: $spacer-10 $spacer-0;
  overflow: hidden;

  &__title {
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;

    &-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include font-size(8rem);
      opacity: 0.25;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      padding: $spacer-6;
      background-color: $gray-900;

      &:hover {
        text-decoration: underline;
        transition: 0.3s all ease-in-out;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .collection-preview {
    &__thumbnail {
      margin-right: - percentage(divide(8, 12));
    }

    &__col {
      &:first-child {
        margin-left: percentage(divide(8, 12));
      }

      &:nth-child(2) {
        margin-left: percentage(divide(8, 12));
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .collection-preview {
    &__thumbnail {
      margin-right: - percentage(divide(6, 12));
    }

    &__col {
      &:first-child {
        margin-left: percentage(divide(6, 12));
      }

      &:nth-child(2) {
        margin-left: percentage(divide(0, 12));
      }

      &:nth-child(3) {
        margin-left: percentage(divide(6, 12));
      }
    }
  }
}