.section {
  position: relative;
  padding: $spacer-8 $spacer-0;
  overflow: hidden;

  &__heading {
    position: relative;
    margin-bottom: $spacer-4;
    text-align: center;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    letter-spacing: 0.01em;
  }

  &__title-bg {
    opacity: 0.125;
  }
}

@include media-breakpoint-up(md) {
  .section {
    padding: $spacer-10 $spacer-0;
  }

  .collection-preview {
    &__col {
      &--thumbnail {
        margin-right: - percentage(divide(8, 12));
      }

      &:first-child {
        margin-left: percentage(divide(8, 12));
      }

      &:nth-child(2) {
        margin-left: percentage(divide(8, 12));
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .collection-preview {
    &__col {
      &--thumbnail {
        margin-right: - percentage(divide(6, 12));
      }

      &:first-child {
        margin-left: percentage(divide(6, 12));
      }

      &:nth-child(2) {
        margin-left: percentage(divide(0, 12));
      }

      &:nth-child(3) {
        margin-left: percentage(divide(6, 12));
      }
    }
  }
}