.form-group--check {
  display: flex;
  gap: $spacer-4;
  align-items: center;
}

.form-group__check-input {
  position: relative;
  width: $form-check-input-width;
  height: $form-check-input-height;
  cursor: pointer;
  appearance: none;
  -webkit-print-color-adjust: exact; // Keeps themed appearance for print
  background-color: $form-check-input-bg;
  border: $form-check-input-border;
  // @include transition($form-check-input-transition);

  &:after {
    content: "";
    position: absolute;
    opacity: 0;
    // transition: $form-check-input-after-transition;
  }

  &:hover {
    // box-shadow: $form-check-input-shadow-hover;
  }

  &:focus {
    outline: 0;
    box-shadow: $form-check-input-focus-box-shadow;
  }

  &:active {
    // box-shadow: $form-check-input-shadow-pressed;
    filter: $form-check-input-active-filter;
    // transition: $form-check-input-shadow-transition;
  }

  &:checked {
    border-color: $form-check-input-checked-border-color;

    &:after {
      opacity: 1;
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: $form-check-input-disabled-opacity;
  }

  &[disabled],
  &:disabled {
    ~.form-group__check-label {
      opacity: $form-check-input-disabled-opacity;
    }
  }

  &--checkbox {
    @include border-radius($form-check-input-border-radius);

    &:after {
      width: 100%;
      height: 100%;
      background-image: escape-svg($form-check-input-checked-bg-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &[type="checkbox"]:checked {
      background-image: escape-svg($form-check-input-checked-bg-icon);
      background-color: $form-check-input-checked-bg-color;
      border-color: $form-check-input-checked-border-color;
    }

    &[type="checkbox"]:indeterminate {
      background-color: $form-check-input-indeterminate-bg-color;
      border-color: $form-check-input-indeterminate-border-color;
      background-image: escape-svg($form-check-input-indeterminate-bg-icon);
    }
  }
}

.form-group__check-label {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $form-check-label-color;
  letter-spacing: -0.125px;
  text-transform: none;
  opacity: 1;
  cursor: $form-check-label-cursor;
  user-select: none;
}