.input-group__control {
  display: block;
  width: 100%;
  height: $btn-height-base;
  min-height: 100%;
  padding: $input-control-padding-y-base $input-control-padding-x-base;
  padding-top: $spacer-4;
  font-family: $input-control-font-family;
  font-size: $input-control-font-size-base;
  font-weight: $input-control-font-weight;
  line-height: $input-control-line-height;
  text-transform: uppercase;
  text-decoration: inherit;
  letter-spacing: 0.009375em;
  appearance: none;
  user-select: none;
  color: $input-control-color;
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  @include border-radius(0.5rem);
  @include box-shadow(none);
  @include transition($input-control-transition);

  &::placeholder {
    color: $gray-400;
  }

  &:focus {
    outline: 0;
  }

  &:disabled,
  &.disabled,
  &[readonly] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: $disabled-opacity;
  }

  &[type="file"] {
    padding-top: $spacer-2;
    padding-bottom: $spacer-2;
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  &::file-selector-button {
    height: 100%;
    margin-inline-end: $spacer-4;
    pointer-events: none;
    color: $light;
    background-color: $dark;
    border-width: 0;
    border-inline-end-width: 0;
    border-radius: 0;
    @include transition($input-control-transition);
  }

  &::-webkit-file-upload-button {
    height: 100%;
    padding-right: $spacer-4;
    padding-left: $spacer-4;
    pointer-events: none;
    color: $light;
    background-color: $dark;
    border-width: 0;
    border-inline-end-width: 0;
    border-radius: 0rem;
    @include transition($input-control-transition);
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: $input-file-button-hover-bg;
  }
}