.input-group__icon {
  position: relative;
  width: $input-control-height-base;
  text-align: center;
  white-space: nowrap;
  color: $input-control-color;
  background-color: transparent;
  @include border-radius($input-control-border-radius-base);
  @include transition(all .15s cubic-bezier(0.68, -0.55, .265, 1.55));

  &>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--prepend {
    margin-right: calc($spacer-4 * -0.125);

    .input-group>& {
      @include border-top-right-radius(0);
      @include border-bottom-right-radius(0);
    }
  }

  &--append {
    margin-left: calc($spacer-4 * -0.125);

    .input-group>& {
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
    }
  }
}