$btn-margin-bottom: $spacer-0 !default;

$btn-height-sm: 2.25rem !default;
$btn-padding-y-sm: $spacer-2 !default;
$btn-padding-x-sm: $spacer-5 !default;

$btn-height-base: 3rem !default;
$btn-padding-y-base: $spacer-3 !default;
$btn-padding-x-base: $spacer-7 !default;

$btn-height-lg: 3.75rem !default;
$btn-padding-y-lg: $spacer-4 !default;
$btn-padding-x-lg: $spacer-8 !default;

$btn-transition: all 0.25s ease-in-out !default;

$btn-link-line-height: $link-line-height !default;
$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;

$btn-icon-only-width-sm: $btn-height-sm !default;
$btn-icon-only-width-base: $btn-height-base !default;
$btn-icon-only-width-lg: $btn-height-lg !default;