$input-group-transition: $btn-transition !default;

$input-control-height-sm: $btn-height-sm !default;
$input-control-padding-y-sm: $btn-padding-y-sm !default;
$input-control-padding-x-sm: $spacer-2 !default;

$input-control-height-base: $btn-height-base !default;
$input-control-padding-y-base: $btn-padding-y-base !default;
$input-control-padding-x-base: $spacer-4 !default;

$input-control-height-lg: $btn-height-lg !default;
$input-control-padding-y-lg: $btn-padding-y-lg !default;
$input-control-padding-x-lg: $spacer-3 !default;

$input-control-transition: $btn-transition !default;

$input-file-color: $input-control-color !default;
$input-file-bg: $input-control-bg !default;
// $input-file-border-width: $input-control-border-width !default;
// $input-file-border-color: $input-control-border-color !default;
// $input-file-border-radius: $input-control-border-radius-base !default;
// $input-file-box-shadow: $input-control-box-shadow !default;
// $input-file-button-color: $input-file-color !default;
$input-file-button-bg: $primary !default;
$input-file-button-hover-bg: shade-color($input-file-button-bg, 5%) !default;