$font-family-sans-serif: 'Nunito Sans',
  sans-serif !default;
$font-family-serif: 'Kanit', Helvetica, Arial, sans-serif !default;
$font-family-monospace: SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace !default;

$font-family-base: $font-family-sans-serif !default;
$font-family-code: $font-family-monospace !default;

$font-family: (
  serif: $font-family-serif,
  sans-serif: $font-family-sans-serif,
  monospace: $font-family-monospace,
  base: $font-family-base,
  code: $font-family-code,
  ) !default;

// -------------------------------- //

$font-size-root: null !default;
$font-size-base: 1rem !default;
$font-size-xxs: $font-size-base * 0.65 !default;
$font-size-xs: $font-size-base * 0.75 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.125 !default;
$font-size-xl: $font-size-base * 1.25 !default;
$font-size-xxl: $font-size-base * 1.5 !default;
$font-size-3xl: $font-size-base * 1.875 !default;
$font-size-4xl: $font-size-base * 2 !default;
$font-size-5xl: $font-size-base * 2.25 !default;
$font-size-6xl: $font-size-base * 3 !default;
$font-size-7xl: $font-size-base * 3.75 !default;
$font-size-8xl: $font-size-base * 4 !default;
$font-size-9xl: $font-size-base * 5 !default;

$font-sizes: (
  xxs: $font-size-xxs,
  xs: $font-size-xs,
  sm: $font-size-sm,
  base: $font-size-base,
  lg: $font-size-lg,
  xl: $font-size-xl,
  xxl: $font-size-xxl,
  3xl: $font-size-3xl,
  4xl: $font-size-4xl,
  5xl: $font-size-5xl,
  6xl: $font-size-6xl,
  7xl: $font-size-7xl,
  8xl: $font-size-8xl,
  9xl: $font-size-9xl,
  ) !default;

// -------------------------------- //

$font-weight-lighter: 300 !default;
$font-weight-light: 300 !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;

$font-weights: (
  lighter: $font-weight-lighter,
  light: $font-weight-light,
  base: $font-weight-base,
  bold: $font-weight-bold,
  semi-bold: $font-weight-semi-bold,
  bolder: $font-weight-bolder,
  ) !default;

// -------------------------------- //

$letter-spacing-tighter: -0.05rem !default;
$letter-spacing-base: 0rem !default;
$letter-spacing-wider: 0.05rem !default;

$letter-spacings: (
  tighter: $letter-spacing-tighter,
  base: $letter-spacing-base,
  wider: $letter-spacing-wider,
  ) !default;

// -------------------------------- //

$body-font-family: $font-family-sans-serif !default;
$body-font-size: $font-size-base !default;
$body-font-weight: $font-weight-base !default;
$body-line-height: 1.3 !default;

// -------------------------------- //

$headings-font-family: 'Fjalla One',
  sans-serif;

$h1-font-size: $font-size-5xl !default;
$h2-font-size: $font-size-3xl !default;
$h3-font-size: $font-size-xxl !default;
$h4-font-size: $font-size-xl !default;
$h5-font-size: $font-size-lg !default;
$h6-font-size: $font-size-base !default;

$headings-font-weight: $font-weight-bold !default;

$h1-line-height: 1.3 !default;
$h2-line-height: 1.3 !default;
$h3-line-height: 1.3 !default;
$h4-line-height: 1.3 !default;
$h5-line-height: 1.3 !default;
$h6-line-height: 1.3 !default;

$headings-letter-spacing: 0.005em !default;

// -------------------------------- //

$display-fonts: (
  h1: $font-size-8xl,
  h2: $font-size-7xl,
  h3: $font-size-6xl,
  h4: $font-size-5xl,
  h5: $font-size-4xl,
  h6: $font-size-3xl,
  ) !default;

// -------------------------------- //

$p-font-family: $font-family-base !default;
$p-font-size: $font-size-base !default;
$p-font-weight: $font-weight-semi-bold !default;
$p-line-height: 1.6 !default;

// -------------------------------- //

$sub-sup-font-size: $font-size-xs !default;
$dt-font-weight: $font-weight-bold !default;

// -------------------------------- //

$legend-margin-bottom: $spacer-2 !default;
$legend-font-size: $font-size-xxl !default;
$legend-font-weight: null !default;

// -------------------------------- //

$link-line-height: 1.5 !default;
$link-letter-spacing: -0.025rem !default;

// -------------------------------- //

$btn-font-family: 'Fjalla One',
  sans-serif !default;

$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-base: $font-size-base !default;
$btn-font-size-lg: $font-size-base !default;

$btn-font-weight: $font-weight-bold !default;

$btn-line-height-sm: 1.25rem !default;
$btn-line-height-base: 1.5 !default;
$btn-line-height-lg: 1.75 !default;

// -------------------------------- //

$input-control-font-family: $btn-font-family !default;

$input-control-font-size-sm: $btn-font-size-sm !default;
$input-control-font-size-base: $btn-font-size-base !default;
$input-control-font-size-lg: $btn-font-size-lg !default;

$input-control-font-weight: $btn-font-weight !default;

$input-control-line-height: $btn-line-height-base !default;